.containere{
    display: flex ;
    align-items: center;
    background-color:#000 ;
    color: #fff;
    height: 400px;
    margin: 0px !important;
    padding: 0px !important;
    top: 0px !important;
    left: 0px;
   
}

.containere .my-card , .bg {
    width: 70% !important;
    border: none;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    
}


.containere .my-card .images {
    height: 400px;
    
    /* background-color: black; */
}

.containere .my-card .images .image{
    width: 200px;
    height: 200px; /* أو أي قيمة مناسبة */
    overflow: hidden;
    margin-top: 30%;
}

.containere .card .images .image img {
    width: 100%;              /* تخلي الصورة تملأ العرض */
    height: 100%;             /* تخلي الصورة تملأ الارتفاع */
    max-height: 100%;         /* تمنع التمدد الزائد */
    object-fit: cover;        /* يملأ الصورة مع القص حسب الحاجة */
    object-position: center;  /* يوسط الصورة */
    display: block;           /* تمنع المسافات البيضاء تحت الصورة */
    border-radius: 8px;       /* لو عايز زوايا ناعمة */
}


.btnn{
    margin-top: -100px;
    
}
.btnnn{
background-color: #fff;
    border: 1px black solid;
    color: black;
    border-radius: 30px;
    width: 130px;
}
.swipInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    background-color: black;
    height: 100%;
    width: 100%;
}

.swipInfo .next button{
    background-color: black;
    margin-left: 10px;
}

.swipInfo .next button:hover{
    box-shadow: 5px 5px 5px 0px blue;
}
.swipInfo .next .right:hover{
        box-shadow: -5px -5px 5px 0px blue;

}